.navbar{
    border: .02rem solid black;
    border-radius: 1rem;
    margin: 1rem 1rem;
  }
  .nav-item{
    margin: auto;
    font-size: 1.5rem;
    padding:0 6rem;
  }
  .nav-link:hover{
    color: rgb(0, 136, 255);
  }
  .nav-link{
    text-transform: capitalize;
    text-align: center; 
  }


.card{
  width:50rem;
  margin: auto;
  text-align: center;
  text-transform: capitalize;
  color: black;
}
.cardinner{
  text-align: center;
  text-transform: capitalize;
  color: black;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction:column
}
button{
  border: .2rem solid white;
}

/* .card-img-overlay{
  height: 10rem;
  width:10rem;
} */

@import url("https://fonts.googleapis.com/css?family=Orbitron&display=swap");
@import url("https://fonts.googleapis.com/css?family=Hind&display=swap");


body, html {
  /* background: #e2e9f4; */
  place-items: center;
}

.Card {
  padding: 1px;
  border-radius: var(--border-radius);
  background: linear-gradient(-67deg, rgba(200, 216, 231, 0.7), rgba(255, 255, 255, 0.8));
  overflow: hidden;
  box-shadow: -2px -2px 6px rgba(255, 255, 255, 0.6), 2px 2px 12px #c8d8e7;
  width: 380px;
  margin-bottom: 3rem;
}

.CardInner {
  padding: 16px 16px;
  background-color: #e2e9f4;
  border-radius: var(--border-radius);
}

/* .container {
  display: flex;
} */

.Icon {
  min-width: 46px;
  min-height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius);
  margin-right: 12px;
  box-shadow: -2px -2px 6px rgba(255, 255, 255, 0.6), 2px 2px 12px #c8d8e7;
}
.Icon svg {
  transform: translate(-1px, -1px);
}

label {
  font-family: "Hind", sans-serif;
  display: block;
  color: #3c4b66;
  margin-bottom: 12px;
  background: linear-gradient(45deg, #6b7b8f, #3c4b66);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.InputContainer {
  width: 100%;
}

input {
  background-color: #e3edf7;
  padding: 16px 32px;
  border: none;
  display: block;
  font-family: "Orbitron", sans-serif;
  font-weight: 600;
  color: #a9b8c9;
  -webkit-appearance: none;
  transition: all 240ms ease-out;
  width: 100%;
}
input::placeholder {
  color: #6d7f8f;
}
input:focus {
  outline: none;
  color: #6d7f8f;
  background-color: #eff5fa;
}

.InputContainer {
  --top-shadow: inset 1px 1px 3px #c5d4e3, inset 2px 2px 6px #c5d4e3;
  --bottom-shadow: inset -2px -2px 4px rgba(255,255,255, .7);
  position: relative;
  border-radius: var(--border-radius);
  overflow: hidden;
}
.InputContainer:before, .InputContainer:after {
  left: 0;
  top: 0;
  display: block;
  content: "";
  pointer-events: none;
  width: 100%;
  height: 100%;
  position: absolute;
}
.InputContainer:before {
  box-shadow: var(--bottom-shadow);
}
.InputContainer:after {
  box-shadow: var(--top-shadow);
}
.mainly{
  /* width:80vw; */
  width: 70vw;
  margin-top: 2rem;
    /* margin: auto; */
  /* margin: auto; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cel{
  height: 2.5rem;
  width: 2.5rem;
  
  margin-bottom: 0.5rem;

}
#temp{
 margin: 0rem 0.5rem 2rem 2rem;
}
.topp{
  justify-content: center;
  align-items: center;
  text-align: center;
}
#type{
  height: 12rem;
}
.cardinside{
  /* border:.2rem solid black; */
  margin: 2rem auto;
  width:100%;
  height:70%;
  font-family: 'Geologica', sans-serif;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  padding:1rem 0;
}
.card-title{
  font-family: 'Satisfy', cursive;
  font-size: 7rem;
}
.names{
  display: flex;
  /* margin:auto; */
  font-size: 2rem;
  /* width: */
  /* border:.3rem solid rgb(130, 25, 25); */
  flex-direction: column;
  /* height:70% */
}

.value{
  font-size: 2rem;
  margin: 0 2rem;
}
